{% extends 'layout.twig' %}

{% block content %}
    <h1>Edit Planet</h1>
    <form action="/planets/{{ planet.id }}?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ planet.name }}" required>

        <label for="size">Size:</label>
        <input type="number" id="size" name="size" value="{{ planet.size }}" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ planet.description }}</textarea>

        <label for="image">Planet Image:</label>
        <input type="file" id="image" name="image" accept="image/*">

        <button type="submit">Update Planet</button>
    </form>

    <a href="/planets/{{ planet.id }}">Cancel</a>
{% endblock %}
